node_modules/
.expo/
dist/
ios/
android/
package-lock.json
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.bundle
*.bundle.js
web-build/
tmp/
.DS_Store
backend/backend.cjs
backend/*.bundle
testAssets
backend/backend.cjs
backend/app.bundle
app/testConfig.js
e2e/bun.lock
bun.lock